
/*

TM - noticed that style with the same will cross to other components 
    probably best to have specific names for specific components
    general styles area, page, buttons etc in this document


*/




.area {

    background-color:white;
    width:100%;
    height:auto;
    padding:0 0 0 0;
    margin:0 0 0 0;
    float:left;

}



    .area-title {

        background-color:#edeef1;
        width:98%;
        height:auto;
        padding:14px 0 14px 2%;
        margin:0 0 0 0;
        float:left;
        position:relative;

        font-family:"Verdana", sans-serif;      
        font-size: 20px;
        font-weight: normal;
        text-align: left;
        text-decoration:none;
        color:#1A1926;

        border:1px solid lightgray;
  
    }





    .area .segment {

        background-color:lightgreen;
        width:250px;
        height:250px;
        padding:10px;
        margin:0 0 0 0;
        float:left;
        position:relative;

    }


    .area .button {

        background-color:#07a2e3;
        width:150px;
        height:auto;
        padding:10px;
        margin:0 0 25px 0;
        float:left;
        position:relative;


        font-family:"Verdana", sans-serif;      
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-decoration:none;
        color:#fff;


        border:1px solid #07a2e3;
        border-radius:7px;


        cursor:pointer;

        

    }


    .area .liquidbox {

        background-color:red
 
    }
